{{define "content"}}
<div id="tabHome" class="tab-content active">{{template "home" .}}</div>
<div id="tabApps" class="tab-content">{{template "apps" .}}</div>
<div id="tabDevelopers" class="tab-content">{{template "developers" .}}</div>
<div id="tabSources" class="tab-content">{{template "sources" .}}</div>
<div id="tabSettings" class="tab-content">{{template "settings" .}}</div>
{{template "modals" .}}
{{end}}

{{define "extra_js"}}
<!-- FN软仓前端脚本（按依赖顺序加载） -->
<script src="{{.StaticBase}}/static/js/core.js"></script>
<script src="{{.StaticBase}}/static/js/websocket.js"></script>
<script src="{{.StaticBase}}/static/js/apps.js"></script>
<script src="{{.StaticBase}}/static/js/wizard.js"></script>
<script src="{{.StaticBase}}/static/js/sources.js"></script>
<script src="{{.StaticBase}}/static/js/home.js"></script>
<script src="{{.StaticBase}}/static/js/settings.js"></script>
<script src="{{.StaticBase}}/static/js/main.js"></script>
{{end}}